/* /* :root {
  --bg-color: #07030e;
  --pramiry-color: #00cfff;
  --secondry-color: #b300ff;
  --banner-bg: #14141eb3;
  --cards-bg: #0b0b22;
  --border-color: rgba(14, 140, 194, 0.3);
  --card-shadow-1: rgba(12, 109, 235, 0.1);
  --card-shadow-2: rgba(176, 12, 235, 0.1);
  --gray-color: rgb(131, 131, 131);
  --icon-hover-1: rgba(82, 187, 239, 0.3);
  --icon-hover-2: rgba(124, 36, 249, 0.3);
  --icon-hover-3: rgba(14, 204, 229, 0.3);
  --button-hover1: rgba(168, 0, 252, 0.3);
  --white-color: #ffff;
  --font-mono: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas,
    "Liberation Mono", "Courier New", monospace;
  --font-sans: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

* {
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--bg-color);
  position: relative;
}

hr {
  height: 1px;
  background-color: #00cfff;
  border: none;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

button {
  border: none;
  border-radius: 1em;
  width: 12em;
  height: 3em;
  color: #ffff;
  font-size: 12px;
  font-weight: bold;
  background: linear-gradient(to right,
      var(--pramiry-color),
      var(--secondry-color));
  transition: all 0.5s;
  cursor: pointer;
}

h1 {
  background: linear-gradient(to right,
      var(--pramiry-color),
      var(--secondry-color));
  color: transparent;
  background-clip: text;
  font-family: var(--font-sans);
}

p {
  color: var(--gray-color);
  font-size: 1em;
  padding-top: 12px;
  font-family: var(--font-sans);
}

section {
  padding-top: 100px;
}

/*Header styling*/
/*
#header {
  background-color: var(--banner-bg);
  display: flex;
  align-items: center;
  z-index: 100;
  justify-content: space-around;
  position: fixed;
  width: 100%;
  height: 80px;
  border-bottom: 1px solid var(--pramiry-color);
}

.logo span {
  background: linear-gradient(to right,
      var(--pramiry-color),
      var(--secondry-color));
  color: transparent;
  background-clip: text;
  font-family: var(--font-sans);
  font-size: 16px;
  transition: all 0.5s;
}

.logo h1:hover {
  transform: scale(1.1);
}

.nav_list nav ul {
  display: flex;
  align-items: center;
  gap: 2em;
}

.nav_list nav ul li a {
  color: var(--gray-color);
  font-family: var(--font-sans);
  transition: all 0.5s;
  cursor: pointer;
}

.nav_list nav ul li a:hover,
.nav_list nav ul li a.active {
  color: var(--pramiry-color);
  transform: scale(1.1);
}

.nav_button :hover {
  transform: scale(1.1);
}

/*Hero section styling */
/*
#hero {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 80px);
  position: relative;
  background-image: url(/assets/images/home_page_img.webp);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  position: relative;
}

#hero::after {
  content: "";
  background-color: rgba(0, 0, 0, 0.655);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.hero_content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 10em;

  z-index: 1;
}

#hero h1 {
  text-align: center;
  font-size: 4em;
  width: 60%;
}

.section_buttons {
  display: flex;
  align-items: center;
  gap: 2em;
  padding-top: 2em;
}

.section_buttons button {
  height: 4em;
  width: 14em;
  font-size: 14px;
  transition: all 0.5s;
}

.section_buttons button i {
  padding: 10px;
  color: white;
}

.section_buttons button:hover {
  transform: scale(1.1);
}

.section_buttons .watch_live_btn {
  background: var(--bg-color);
  color: var(--pramiry-color);
  border: 1px solid var(--pramiry-color);
}

.section_buttons .watch_live_btn i {
  color: var(--pramiry-color);
}

.section_buttons .watch_live_btn:hover {
  background: var(--pramiry-color);
  color: var(--white-color);
}

.section_buttons .watch_live_btn:hover i {
  color: var(--white-color);
}

/*Tournaments page*/
/*
#tournaments,
#teams,
#games {
  margin: 0 4em;
}

.section_title {
  text-align: center;
}

.tournaments_cards,
.teams_cards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  align-items: center;
  justify-content: space-between;
  gap: 4em;
  padding-top: 2em;
}

.card {
  position: relative;
  background-color: var(--cards-bg);
  border: 1px solid var(--border-color);
  border-radius: 12px;
  overflow: hidden;
  transition: all 0.5s;
  cursor: pointer;
}

.card_img img {
  width: 300px;
  height: 200px;
  border-radius: 6px;
  object-fit: cover;
  transition: 0.5s all;
}

.card:hover {
  transform: scale(1.05);
}

.card:hover .card_img img {
  transform: scale(1.08);
}

.tournament_info {
  padding: 1em;
}

.card .tournament_name {
  font-size: 16px;
  font-family: var(--font-sans);
  color: var(--gray-color);
}

.card .tournament_game {
  color: var(--pramiry-color);
}

.date_team_number {
  display: flex;
  align-items: center;
  gap: 12px;
}

.date_team_number i {
  color: var(--gray-color);
  padding-top: 12px;
}

.join_tournament_btn {
  margin-top: 1em;
  width: 100%;
}

.prizz_pool {
  background: linear-gradient(to right,
      var(--secondry-color),
      var(--pramiry-color));
  width: 50%;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  border-radius: 24px;
  position: absolute;
  top: 6px;
  right: 6px;
}

.prizz_pool p {
  padding-bottom: 12px;
  color: var(--white-color);
}

.prizz_pool i {
  padding-bottom: 20px;
  color: var(--white-color);
}

/*teams page styling*/
/*
.teams_info {
  padding: 12px;
}

.team_name {
  text-align: center;
  color: var(--gray-color);
  font-size: 14px;
  font-family: var(--font-sans);
  padding-top: 12px;
}

.team_numbers {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  gap: 12px;
  padding-top: 24px;
}

.members_wins {
  text-align: center;
}

.members_wins i {
  display: flex;
  gap: 5px;
  font-size: 12px;
  text-align: center;
}

.members_wins p {
  font-size: 16px;
  text-align: center;
}

.members_wins #members {
  color: var(--pramiry-color);
  padding-left: 12px;
}

.members_wins #wins {
  color: var(--secondry-color);
}

.view_team_btn {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  width: 100%;
  background: var(--cards-bg);
  color: var(--secondry-color);
  border: 2px solid var(--secondry-color);
  margin-top: 16px;
  transition: all 0.5s;
}

.view_team_btn:hover {
  background: var(--button-hover1);
  color: var(--gray-color);
}

.team_ID {
  background: linear-gradient(to left,
      var(--pramiry-color),
      var(--secondry-color));
  height: 32px;
  width: 32px;
  border-radius: 50%;
  padding: 10px;
  position: absolute;
  top: 16px;
  left: 16px;
}

.team_ID p {
  font-size: 20px;
  font-family: var(--font-sans);
  font-weight: bolder;
  color: var(--white-color);
  text-align: center;
  padding-top: 0;
}

/*Games section styling*/
/*
.games_cards {
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 32px;
}

.card_game {
  width: 100%;
  margin-top: 32px;
  border: 2px solid var(--border-color);
  border-radius: 12px;
  position: relative;
  transition: all 0.5s;
  cursor: pointer;
  overflow: hidden;
}

.card_game::after {
  content: "";
  width: 100%;
  height: 100%;
  background-color: rgba(27, 25, 25, 0.7);
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 12px;
}

.card_game:hover {
  transform: scale(1.03);
  box-shadow: 5px 5px 24px var(--pramiry-color);
}

.card_game:hover,
.game_image img {
  transform: scale(1.05);
}

.game_image img {
  width: 100%;
  height: 350px;
  border-radius: 12px;
  overflow: hidden;
}

.game_info {
  position: absolute;
  bottom: 20px;
  left: 20px;
  z-index: 1;
}

.game_type {
  display: flex;
  align-items: center;
  gap: 12px;
  font-size: 18px;
  font-family: var(--font-sans);
  color: var(--pramiry-color);
}

.game_name {
  color: var(--white-color);
  font-family: var(--font-sans);
  padding-top: 12px;
}

.players_number {
  color: rgb(149, 149, 149);
  font-family: var(--font-sans);
  padding-top: 12px;
}

/*blog styling */
/*
.blogs_cards {
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 24px;
  margin: 24px;
 
}

.blog_card {
  background-color: var(--cards-bg);
  border: 2px solid var(--border-color);
  border-radius: 12px;
  transition: all 0.5s;
  cursor: pointer;
  overflow: hidden;
  transition: all 0.5s;
  width: 100%;
}

.blog_card .card_img img {
  width: 100%;
}

.blog_card:hover {
  transform: scale(1.02);
}

.blog_card:hover .card_img img {
  transform: scale(1.05);
}

.blog_info {
  padding: 16px;
}

.blog_title {
  color: var(--white-color);
  font-size: 16px;
  font-weight: 800;
  font-family: var(--font-sans);
  transition: all 0.5s;
}

.blog_card:hover .blog_title {
  color: var(--pramiry-color);
}

.blog_description {
  font-size: 18px;
}

.blog_date_author,
.date_author,
.bolg_butoon {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 24px;
  gap: 8px;
}

.date_author i {
  color: var(--gray-color);
  padding-top: 12px;
}

.bolg_butoon a,
i {
  padding-top: 24px;
  color: var(--pramiry-color);
  font-family: var(--font-sans);
  transition: all 0.5s;
}

.bolg_butoon:hover a {
  color: var(--pramiry-color);
  transform: translateX(5px);
}

.bolg_butoon:hover i {
  color: var(--pramiry-color);
  transform: translateX(5px);
}

/*contact page */
/*
input ,textarea {
  background-color: var(--cards-bg);
  width: 100%;
  height: 40px;
  border: none;
  border: 1px solid var(--pramiry-color);
  border-radius: 12px;
  padding-left: 12px;
  color: var(--pramiry-color);
  margin-top: 12px;
}
input:focus{
  border:2px solid var(--pramiry-color);
}
label {
  color: var(--gray-color);
  font-size: 16px;
  font-family: var(--font-sans);
   
}

textarea {
  width: 100%;
  height: 150px;
  resize: vertical;
  padding: 4px;
}
.name , .email, .subject , .message{
  padding-top: 20px;
}
#form {
  background-color: var(--cards-bg);
  margin: 4rem 24rem;
  border-radius: 12px;
  padding: 4rem;
}

.form_title {
  background: linear-gradient(to right, var(--pramiry-color), var(--secondry-color) 80%);
  color: transparent;
  background-clip: text;
  font-size: 34px;
  font-family: var(--font-sans);
  text-align: center;
}
.send_msg_btn{
  width: 100%;
  margin-top:16px ;
  transition: all 0.4s;
}
.send_msg_btn:hover{
background: linear-gradient(to left , var(--pramiry-color) ,var(--secondry-color));

}

.events_banner{
  position: relative;
}
.events_banner::after{
 content: "";
 background-color: rgba(5, 0, 31, 0.8);
 width: 100%;
 height: 100%;
 position: absolute;
 top: 0;
 left: 0;
}
.events_banner img{
  position: relative;
  height: 50vh;
  width: 100%;
  object-fit: cover;
}

.banner_title{
  position: absolute;
  top: 25%;
  left:50%;
  transform: translate(-50% , -50%);
  text-align: center;
}
.banner_title h1{

 font-size: 40px;
}
.banner_title p{
 color: var(--white-color);
 font-size: 24px;
}

/*events page */
/*
.event_container{
  display: flex;
  align-items: start;
  justify-content: space-between;
  margin: 6rem;
}
.events_status{
  background-color: var(--cards-bg);
  padding: 24px;
  border-radius: 12px;
}
.events_status h2{
  font-size: 16px;
  font-family: var(--font-sans);
  background-color: var(--cards-bg);
  color: var(--gray-color);
  padding: 8px;
  margin-top: 16px;
  text-align: center;
  width: 250px;
  border: 2px solid var(--pramiry-color);
  border-radius: 20px;
}
#All_events{
  color: var(--white-color);
  background-color: var(--pramiry-color);
}
.events_cards{
  display: flex;
  gap: 24px;
}

/*Footer */
/*
#footer {
  padding: 6em 6em 1em;
}

.Top_footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-align: start;
  border-top: 2px solid var(--pramiry-color);
  padding: 2em 0;
}

/*left part*/
/*
.footer_description p {
  padding-top: 1em;
}

.footer_icons {
  display: flex;
  align-items: center;
  gap: 2em;
  padding-top: 1em;
}

.footer_icons i {
  font-size: 16px;
  color: var(--pramiry-color);
  border: 1px solid var(--pramiry-color);
  border-radius: 8px;
  padding: 0.5em;
  transition: all 0.5s;
  cursor: pointer;
}

.footer_icons i:hover {
  background-color: var(--icon-hover-1);
  transform: scale(1.1);
}

/*platforms part*/
/*
.footer_links h2 {
  font-size: 1em;
  color: var(--white-color);
  font-family: var(--font-sans);
  text-align: center;
}

.footer_links ul li {
  font-size: 1em;
  color: var(--gray-color);
  font-family: var(--font-sans);
  padding-top: 12px;
  transition: all 0.5s;
  cursor: pointer;
}

.footer_links a {
  display: inline-block;
  transition: all 0.5s;
}

.footer_links a:hover {
  color: var(--pramiry-color);
  transform: translateX(10px);
}

.contact_info {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.info {
  display: flex;
  align-items: center;
  gap: 2em;
  padding: 1em;
}

.email_icon i {
  background-color: var(--icon-hover-1);
  color: var(--pramiry-color);
  border: 1px solid var(--icon-hover-1);
  font-size: 1.5em;
  padding: 8px;
  border-radius: 8px;
  text-align: center;
}

.phone_icon i {
  background-color: var(--icon-hover-2);
  color: var(--secondry-color);
  border: 1px solid var(--icon-hover-2);
  font-size: 1.5em;
  padding: 8px;
  border-radius: 8px;
  text-align: center;
}

.location_icon i {
  background-color: var(--icon-hover-3);
  color: rgba(0, 194, 194, 0.752);
  border: 1px solid var(--icon-hover-3);
  font-size: 1.5em;
  padding: 8px;
  border-radius: 8px;
  text-align: center;
}

.info h3,
a {
  color: var(--gray-color);
  font-size: 16px;
  font-family: var(--font-sans);
}

.info p {
  font-size: 16px;
}

.copyright_part {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.terms_part a {
  color: var(--gray-color);
  font-size: 16px;
  font-family: var(--font-sans);
  padding-left: 1.5em;
  transition: all 0.5s;
}

.terms_part a:hover {
  color: var(--pramiry-color);
  transform: scale(1.1);
}  */